
@font-face { font-family:"NanumSquare"; src: url(../fonts/NanumSquareOTFRegular.woff) format('woff2'); font-weight: 400; }
@font-face { font-family:"NanumSquare"; src: url(../fonts/NanumSquareOTFBold.woff) format('woff2'); font-weight: 700; }
@font-face { font-family: "TTHoves"; src:url(../fonts/TTHoves-Medium.woff) format('woff2'); font-weight: 500; }
@font-face { font-family: "TTHoves"; src:url(../fonts/TTHoves-DemiBold.woff) format('woff2'); font-weight: 800; }