
/* sc-main */
.sc-main { }
.swiper.main-slide { height: 544px; }
.main-slide .swiper-slide .video-box {height: 100%;}
.main-slide .swiper-slide .video-box video{ width: 100%; height: 100%; object-fit: cover; }
.main-slide .swiper-slide .text-box { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.main-slide .swiper-slide .text-box .title{ text-align: center; overflow: hidden; font-size: 100px; line-height: 1.2; letter-spacing: -2.4px; font-weight: 800; white-space: nowrap; color: #fff; text-shadow: 6px 6px 18px rgb(0 0 0 / 16%); width: 0; opacity: 0; transition: width 0.5s 0.2s,opacity 0.8s 0.2s; }
.main-slide .swiper-slide-active .text-box .title{ width: 100%; opacity: 1; }
.main-slide .swiper-slide-active .text-box br{display: none;}


/* 통합 headline */
.headline-wrap{}
.headline-wrap .title{font-size: 64px; line-height: 71px; letter-spacing: -0.64px; margin-bottom: 20px; font-weight: 500;}
.headline-wrap .desc{ display: inline; padding-right: 30px; font-size: 22px; line-height: 32px; letter-spacing: -0.44px; font-weight: bold; }
.headline-wrap .link-more{ position: relative; display: inline-block; vertical-align: top; font-size: 14px; line-height: 18px; font-weight: normal; letter-spacing: -0.36px; }
.headline-wrap .link-more::after{ content: ""; position: absolute; bottom: 0; left: 0; right: 0; height: 1px; border-bottom: 1px solid #000; }

/* 통합 네비게이션 */
.btn-wrap{ position: absolute; bottom: 0;right: 0; display: flex; gap: 5px; z-index: 1; }
.btn-wrap button{ width: 33px; height: 32px; background-position: -187px -172px; }
.btn-wrap button.swiper-button-disabled{ opacity: 0.5; }
.btn-wrap .next{ transform: rotate(180deg); }



/* sc-teams group-search */
.sc-teams{ position: relative; background-color: #fafafa; z-index: 1; padding: 126px 0 86px; }
.sc-teams .group-search{ position: absolute; width: 100%; top: 0; left: 0; transform: translateY(-50%); }
.sc-teams .group-search .inner { height: 54px; }
.sc-teams .group-search .group-flex { display: flex; position: absolute; top: 10px; left: 104px; right: 105px; font-size: 0; z-index: 1000; font-family: var(--font-kr); background-color: #fff; }
.sc-teams .group-search .ic-search { display: flex; align-items: center; padding: 0 28px 0 21px; }
.sc-teams .group-search .ic-search::before { display: block; background-position: -245px -40px; width: 18px; height: 18px; content: ''; }
.sc-teams .group-search .input-area { display: flex; flex: 1; font-size: 14px; -ms-flex-align: center; align-items: center; font-weight: bold; }
.sc-teams .group-search .input-area .title { display: flex; align-items: center; margin-right: 9px; white-space: nowrap; color: #000; font-weight: bold; }
.sc-teams .group-search .input-area fieldset { outline: 0; border: none; }
.sc-teams .group-search .input-area .input-wrap { flex: 1; }
.sc-teams .group-search .input-area input { outline: none; border: none; width: 100%; height: 100%; flex: 1; }
.sc-teams .group-search .select-area { display: flex; flex: 1; }
.sc-teams .group-search .select-area .title { display: flex; align-items: center; margin-right: 9px; white-space: nowrap; color: #000; font-weight: bold; font-size: 14px; }
.sc-teams .group-search .select-career.on,
.sc-teams .group-search .select-corp.on{ background: url(../images/btn-close.png)no-repeat right 10px center/10px; }
.sc-teams .group-search .select-career,
.sc-teams .group-search .select-corp { padding: 0 25px 0 9px; flex: 1; outline: 0; border: none; appearance:none; /* 화살표 없애기 */ position: relative; width: 50%; font-size: 14px; font-weight: bold; line-height: 54px; letter-spacing: -0.3px; color: #ccc; background: url(../images/btn-open.png) no-repeat right 10px center/10px }
.sc-teams .group-search .select-career option:disabled, .sc-teams .group-search .select-corp option:disabled { display: none; }
.sc-teams .group-search .select-area option { white-space: nowrap; font-weight: normal; color: #000; }

.sc-teams .group-search .btn-submit { width: 97px; height: 54px; line-height: 54px; background-color: #000; color: #fff; font-weight: bold; }
.sc-teams .group-search .btn-submit span{ display: block; color: #fff; font-size: 14px; }
.sc-teams .group-search .btn-submit:hover { background-color: #16ef72; }
.sc-teams .group-search .btn-submit:hover span{ color: #000; }



/* sc-teams group-teams*/
.sc-teams .group-teams { }
.sc-teams .group-teams .teams-list { margin-top: 70px; }
.sc-teams .group-teams .teams-item a {display: block; }
.sc-teams .group-teams .inner{ display: flex; justify-content: space-between; }
.sc-teams .group-teams a:hover { background: #ebebeb; color: #000; }
.sc-teams .group-teams .title-box { padding: 20px 0; display: inline-block; vertical-align: top; width: 50%; }
.sc-teams .group-teams .title-box .title { display: inline-block; vertical-align: top; font-size: 38px; line-height: 60px; letter-spacing: -0.34px; font-weight: normal; }
.sc-teams .group-teams .title-box .numb { margin-top: 13px; position: relative; display: inline-block; vertical-align: top; margin-left: 18px; font-size: 15px; letter-spacing: -0.3px; }
.sc-teams .group-teams .title-box .numb::after { content: ""; position: absolute; top: -1px; right: -14px; background-position: -176px -105px; width: 9px; height: 9px; }
.sc-teams .group-teams .desc-box { padding: 20px 0 20px 15px; display: inline-block; vertical-align: top; width: 50%; font-size: 22px; line-height: 60px; letter-spacing: -0.44px; box-sizing: border-box; }

/* sc-people */
.sc-people { padding: 95px 0 0; overflow: hidden; }
.sc-people .people-slide { padding-bottom: 68px; overflow: initial; margin-top: 60px; }
.sc-people .people-slide .cont-list { display: flex; opacity: 1; width: 12397px; transform: translate3d(0px, 0px, 0px); }
.sc-people .people-slide .cont-item { object-fit: cover; }
.sc-people .people-slide .img-box { position: relative; padding-bottom: 47.403%; }
.sc-people .people-slide .img-box img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.sc-people .people-slide .desc-box { position: relative; overflow: hidden; margin-top: 29px; word-break: keep-all; word-wrap: break-word; overflow-wrap: break-word; }
.sc-people .people-slide .desc-box .title { display: inline; padding-right: 26px; line-height: 36px; font-size: 25px; letter-spacing: -0.5px; font-weight: bold; color: #000; }
.sc-people .people-slide .desc-box .desc { position: relative; margin-top: 16px; font-size: 14px; line-height: 24px; letter-spacing: -0.28px; color: #000; }
.sc-people .swiper-slide .name { position: relative; display: inline-block; vertical-align: top; margin-left: 12px; }
.sc-people .swiper-slide .name::before { content: ""; position: absolute; left: -8px; top: 6px; width: 1px; height: 10px; background-color: #000; }
.sc-people .swiper-slide .link-more { position: relative; margin-top: 4px; display: inline-block; vertical-align: top; font-size: 14px; line-height: 18px; font-weight: normal; letter-spacing: -0.36px; }
.sc-people .swiper-slide .link-more::after{ content: ""; position: absolute; bottom: 0; left: 0; right: 0; height: 1px; border-bottom: 1px solid #000; }

/* sc-benefits */
.sc-benefits { padding: 112px 0 0; }
.sc-benefits .benefits-slide { margin: 55px 0 0; padding-bottom: 68px; }
.sc-benefits .swiper-slide .img-box { position: relative; padding-bottom: 100%; }
.sc-benefits .swiper-slide .img-box img { position: absolute; top: 0;left: 0;width: 100%;height: 100%;object-fit: cover; }
.sc-benefits .swiper-slide .desc-box { overflow: hidden; margin-top: 29px; word-break: keep-all; word-wrap: break-word; overflow-wrap: break-word; }
.sc-benefits .swiper-slide .desc-box .title { display: inline; padding-right: 26px; line-height: 36px; font-size: 25px; letter-spacing: -0.5px; font-weight: bold; }
.sc-benefits .swiper-slide .desc-box .desc { margin-top: 20px; font-size: 18px; line-height: 30px; letter-spacing: -0.36px; color: #000; }

/* sc-apply */
.sc-apply{ padding: 95px 0 102px; }
.sc-apply .title{font-size: 25px; line-height: 32px; letter-spacing: -0.25px; color: #000; font-weight: 500; }
.sc-apply .apply-wrap{ display: flex; align-items: center; vertical-align: top; margin-top: 18px; font-size: 18px; line-height: 27px; letter-spacing: -0.36px; }
.sc-apply .link-apply::after{ content: ''; display: inline-block; vertical-align: middle; margin-left: 11px; background-position: -76px -172px; width: 32px; height: 32px; width: 33px; }


/* 1280~[1025] */
@media (max-width:1280px) {
  .sc-benefits .swiper-slide .desc-box .desc br{ display: none; } 
}

/* 1024~[768] */
@media (max-width:1024px) {
  .main-slide .swiper-slide .text-box .title{ font-size: 70px; }
}
/* 767~[320] */
@media (max-width:767px) {
  /* 메인슬라이드 */
  .swiper.main-slide{ height: auto; }
  .main-slide .swiper-slide .video-box{ position: relative; padding-bottom: 62.4%; }
  .main-slide .swiper-slide .video-box video{ position: absolute; top: 0;left: 0; }
  .main-slide .swiper-slide .text-box .title{ font-size: 40px; width: 100%; }
  .main-slide .swiper-slide .text-box .title br{ display: block; }
  /* 통합 headline */
  .headline-wrap{width: 100%;}
  .headline-wrap .title{margin-bottom: 11px; font-size: 36px; line-height: 50px; letter-spacing: -0.7px;}
  .headline-wrap .desc{ padding-right: 20px; margin-bottom: 9px; font-size: 16px; line-height: 26px; letter-spacing: -0.32px; }
  .headline-wrap .link-more{     font-size: 12px; line-height: 22px; letter-spacing: -0.24px; }
/* sc-teams group-search*/
  .sc-teams .group-search{ margin-top: 50px; padding:50px 0;}
  .form1{display: none;}
  /* sc-teams group-teams*/
  .sc-teams .group-teams .inner{ display: flex; flex-direction: column; padding-top: 16px; padding-bottom: 16px; }
  .sc-teams .group-teams .desc-box{ }
  .sc-teams .group-teams .title-box .title { font-size: 24px; line-height: 38px; letter-spacing: -0.48px; }
  .sc-teams .group-teams .title-box{ padding: 0; display: flex; }
  .sc-teams .group-teams .desc-box{ padding: 0; display: block; width: 100%; }
  .sc-teams .group-teams .title-box .numb{ margin: 4px 0 0 14px; font-size: 14px; line-height: 22px; letter-spacing: -0.28px; }
  .sc-teams .group-teams .desc-box p{ margin-top: 1px; width: 100%; padding: none; font-size: 16px; line-height: 26px; letter-spacing: -0.32px; }
  /* sc-people */
  .sc-people .people-slide .img-box { padding-bottom: 100%; /* 1:1 화면비율 */ }
  .sc-people .people-slide .desc-box .link-more{ display: none; }
  .sc-people .people-slide .desc-box .title{ font-size: 18px; line-height: 28px; letter-spacing: -0.36px; }
  /* sc-benefits */
  .sc-benefits .swiper-slide .desc-box .title{ font-size: 18px; line-height: 28px; letter-spacing: -0.36px; }
  .sc-benefits .swiper-slide .desc-box .desc{ margin-top: 3px; font-size: 14px; line-height: 26px; letter-spacing: -0.28px; }
  /* sc-apply */
  .sc-apply .title{ font-size: 20px; line-height: 34px; letter-spacing: -0.4px; }
  .sc-apply .apply-wrap{ font-size: 16px; line-height: 26px; letter-spacing: -0.32px; }
  /* footer */
  .footer .footer-wrap{ display: flex; }
  .footer .inner{ display: block; min-width: 320px; max-width: 1320px; padding: 0 22px; }
  .footer .copy{ display: inline-block; vertical-align: top; font-size: 15px; line-height: 22px; letter-spacing: -0.3px; }
  .footer .info { margin-left: 21px; display: inline-block; vertical-align: top; }
}